*{
    padding: 0;
    margin: 0;
}

.header {
    height: 30vh;
    width: 100%;
}



.maintitle {
    height: 23vh;
    width: 100%;

    display: flex;
    text-align: center;
}

.mydream {
    margin: auto;
    color: rgb(126, 14, 14);
    font-size: 80pt;
    font-family: 'Luxurious Script', cursive;
}



.navlist {
 
 display: flex;
 justify-content: space-between;
 align-items: center;

 list-style-type: none;

 height: 7vh;
 background-color: black;

 color: white;
font-size: 16pt;
}

.listitemnav {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    border: silver 2px solid;
}
    


main {

    height: 130vh;
    width: 100%;
    background-image: url(https://www.1zoom.me/big2/56/217803-Sepik.jpg);  
    display: flex;
}

.welcome {
    height: 10vh;
    width: 55%;
    margin-top: 5vh;
    margin-left: 6%;

    border: black solid 3px;
    border-radius: 4px;

    background-color: rgba(82, 9, 9, 0.836);

    color:rgba(255, 255, 255, 0.788);
    font-size: 28pt;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.openinghours {
    height: 45vh;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;

    background-color: rgba(255, 255, 255, 0.719);
    border: black solid 3px;
    border-radius: 4px;

    
}

.opentitle {
    font-size: 23pt;
    text-decoration: underline;
    text-align: center;

    margin-top: 2vh;
}

.week {
    display: flex;

    margin-top: 2vh;
    margin-left: 5%;
}

.days {
    list-style-type: none;

    margin-left: 6%;
}

.listitemdays {
    margin-top: 1vh;
}


